$fontColor: rgb(169, 215, 255);
$titleColor: rgb(0, 229, 255);
$fontSize-year: 1.5em;

body{
    margin: 0 100px;
    background-color: black;
}
.detail{
    display:grid;
    position:absolute;
    width: 80%;
    height: 80%;
    color: $fontColor;
    justify-items: center;
    h1{
        color:$titleColor;
    }
    .year{
        font-size:$fontSize-year;
    }
    .desc{
        width: 50%;
        line-height: 1.5em;
        margin-top: 30px;
        text-align: center;
    }
}

.main-container{
    .year{
        font-size: $fontSize-year;
        color: $fontColor;
    }
    .summary{
        color: $fontColor;
    }
    .image{
        color: $titleColor;
        text-decoration-line:none;
        text-decoration: none;
        font-size: 1.3em;
    }
}